<footer class="border-top footer bg-primary text-muted">
    <div class="text-center">
        Made With <i class="bi bi-heart-fill" style="margin: 0 10px"></i>  By Erfan Tahavori
    </div>
</footer>